:root {
  --primary: #000000;
  --neutral: #FFFFFF;
  --light: #F5F4F9;
  --secondary: #C2C2C2;
  --secondary-light: #E7E7E7;
  --gray: #D8D8D8;
  --purple-dot: #5C3CAF;
  --purple: #5E3DB3; 
  --purple-light: #936EEA;
  --purple-dark: #603EBE;
  --purple-medium: #8765DD;
  --dark: #090C35;
}

body {
  margin: 0;
}
