$tablet-width: 768px;
$desktop-width: 992px;
$large-desktop-width: 1024px;
$hd-screen: 1920px;

@mixin for-mobile {
  @media (max-width: #{$tablet-width - 1px}) {
    @content;
  }
}

@mixin for-tablet {
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin for-tablet-and-up {
  @media (min-width: #{$tablet-width}) {
    @content;
  }
}

@mixin for-s-desktop-and-l-desktop {
  @media (min-width: #{$desktop-width}) and (max-width: #{$large-desktop-width}) {
    @content;
  }
}

@mixin for-desktop {
  @media (min-width: #{$tablet-width}) and (max-width: #{$hd-screen - 1px}) {
    @content;
  }
}

@mixin for-desktop-and-up {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}

@mixin for-hd-desktop {
  @media (min-width: #{$hd-screen}) {
    @content;
  }
}
