$tablet-width: 768px;
$desktop-width: 992px;
$large-desktop-width: 1024px;
$tv-width: 1200px;

@mixin for-mobile {
  @media (max-width: #{$tablet-width - 1px}) {
    @content;
  }
}

@mixin for-tablet {
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin for-tablet-and-up {
  @media (min-width: #{$tablet-width}) {
    @content;
  }
}

@mixin for-desktop {
  @media (min-width: #{$tablet-width}) and (max-width: #{$tv-width - 1px}) {
    @content;
  }
}

@mixin for-desktop-and-up {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}
